:root {
    /*Colores*/
    --color-primario: #FCB861;
    --color-secundario: #C5620B;
    --color-fondo: #3c2b21;
    --color-texto: #6F7781;

    /*Tipografías*/
    --fuente-principal: 'Arial', sans-serif;
    --fuente-titulos: 'Georgia', serif;

    /*Espaciados*/
    --espacio-pequeño: 8px;
    --espacio-medio: 16px;
    --espacio-grande: 32px;
}

/*Estilos de la página*/
body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-principal);
    padding: var(--espacio-medio);
    margin:0 ;
}

h1 {
    color: var(--color-primario);
    font-family: var(--fuente-titulos);
    margin-bottom: var(--espacio-grande);
    font-size: 60px;
    display: flex;
    justify-content: center;
}

h2 {
    color: var(--color-primario);
    font-family: var(--fuente-titulos);
    margin-bottom: var(--espacio-medio);
}

h3 {
    color: var(--color-secundario);
    font-family: var(--fuente-titulos);
    margin-bottom: var(--espacio-medio);
}

.presentacion{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: var(--espacio-medio);
    font-family: var(--fuente-titulos);
    font-size: 30px;
}

/*Estilo de la lista*/
.task-list {
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.task-item {
    display: flex; /* Alinea en fila y se adapta al tamaño de ventana */ 
    justify-content: space-between;  
    align-items: center; 
    padding: var(--espacio-m); 
    border-bottom: 1px solid #ddd;
}

.task-title {
    flex: 2; 
    font-weight: bold;
}

.task-category {
    flex: 1; 
    text-align: center; 
    opacity: 0.8;
}

.task-status {
    flex: 0.5; 
    padding: var(--espacio-s); 
    border-radius: 6px; 
    color: white; 
    text-align: center; 
    font-size: 0.9rem;
}

/*Colores según prioridad*/
.task-status.saw { 
    background-color: 
    var(--color-alta); 
    color: #f31800; 
} 

.task-status.to-do { 
    background-color: 
    var(--color-media); 
    color: #decf00; 
} 

.task-status.saved { 
    background-color: 
    var(--color-baja); 
    color: #3cff00; 
}

/*Organización de la página*/

main {
    display: flex;
}

/*Barra lateral*/
.lista {
    margin-left: 5px;
    flex-direction: column;
    width: 100px;
    flex-shrink: 0;
} 

.barra-lateral { 
    width: 100px; 
    background: #825327; 
} 

.contenido-barra { 
    flex: 1; 
}

.pie-pag {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.contenedor {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

.series {
    width: 400px;
    flex-direction: column;
    flex-flow: column wrap;
}

.peliculas {
    width: 400px;
    flex-direction: column;
    flex-flow: column wrap;
}

/*Media query para adaptar la barra a pantallas pequeñas*/
@media (max-width: 768px) { 
    
    main {
        display: flex;
        flex-direction: column;
    }

    .lista { 
        flex-direction: column;
        display: flex;
        justify-content: center;
    } 
    
    .barra-lateral { 
        width: 100%; 
        order: 1; /* aparece arriba del contenido del main class contenido*/ 
    } 
    
    .contenido-barra { 
        order: 2; 
    } 

    .contenedor { 
        flex-direction: column;
    }
}