:root {
    /*Colores*/
    --color-primario: #1E88E5;
    --color-secundario: #697981;
    --color-fondo: #1565C0;
    --color-texto: #0D47A1;

    /*Tipografías*/
    --fuente-principal: 'Arial', sans-serif;
    --fuente-titulos: 'Georgia', serif;

    /*Espaciados*/
    --espacio-pequeño: 8px;
    --espacio-medio: 16px;
    --espacio-grande: 32px;
}

/*Estilos de la página*/
body {
    background-color: #E3F2FD;
    color: var(--color-texto);
    font-family: var(--fuente-principal);
    padding: var(--espacio-medio);
    margin:0 ;
}

h1 {
    color: var(--color-primario);
    font-family: var(--fuente-titulos);
    margin-bottom: var(--espacio-grande);
    font-size: 60px;
    display: flex;
    justify-content: center;
}

h2 {
    color: var(--color-primario);
    font-family: var(--fuente-titulos);
    margin-bottom: var(--espacio-medio);
}

/*Posición de la pagina*/

.position{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

/*Estilo de la lista*/

.task-item {
  display: flex;
  align-items: center;
  gap: 10px; /* separación entre botón y texto */
  padding: 8px 0;
}

.task-item span {
  flex: 1; /* el texto ocupa el espacio restante */
}

/*Icono en boton de añadir*/

button {
  width: 30px;
  height: auto;
  padding: 0;
  border: none;
  background: none;
}

button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*Icono en boton de eliminar*/

.delete-btn {
  background: none; /*Sin fondo*/
  border: none; /*Sin borde*/
  padding: 0;
  margin-left: 10px; /*separa el botón del texto*/
  cursor: pointer;
}

.delete-btn img {
  width: 25px;   /* ajusta a tu gusto */
  height: auto;
  display: block;
  border-radius: 14px;
}

/*posicion del boton añadir respecto del form*/

.contenedorForm {
    display: flex;
    align-items: center;
    gap: 10px; /*separación entre input y botón*/
    margin-bottom: 20px;
}

/* Estilo general para inputs de texto */
input[type="text"] {
    width: 280px;
    padding: 5px;
    border: 2px solid var(--color-primario);
    border-radius: 8px;
    background-color: #ffffff;
    color: var(--color-texto);
    font-size: 16px;
    outline: none;
    transition: 0.2s ease;
}

/* Efecto al hacer clic o escribir */
input[type="text"]:focus {
    border-color: #0D47A1;
    background-color: #E3F2FD;
}
